Source: usboot
Section: misc
Priority: optional
Maintainer: Arun Kumar Pyasi <root@chitwanix.com>
Build-Depends: debhelper (>= 5.0.37)
Build-Depends-Indep: gettext

Package: usboot
Architecture: all
Depends: coreutils (>= 6.10-3), procps, python, python-glade2, policykit-1, gir1.2-polkit-1.0,  gir1.2-gtk-3.0, ntfs-3g, python-parted, udisks
Conflicts: mintstick
Replace: mintstickssssss
Description: Tool to write .img and .iso files to USB sticks. Can also format them.
 A GUI to write .img or .iso files to a USB Key. It can also format them.
